Repository PollBuddy/PollBuddy, pull requests merged in 2019-11, with the labels that each got.

#60 Myclasses page
  PollBuddy-Server/frontend/src/new_logo.jpg
  PollBuddy-Server/frontend/src/pages/myclasses/myclasses.js
  PollBuddy-Server/frontend/src/pages/myclasses/myclasses.scss
Labels: frontend

#70 Implemented delete functionality and fixed minor bugs in groups and polls
  PollBuddy-Server/backend/routes/groups.js
  PollBuddy-Server/backend/routes/polls.js
Labels: backend, bug, enhancement

#65 Backend
  PollBuddy-Server/backend/Dockerfile
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/bin/www
  PollBuddy-Server/backend/modules/mongoConnection.js
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
  PollBuddy-Server/backend/routes/classes.js
  PollBuddy-Server/backend/routes/groups.js
  PollBuddy-Server/backend/routes/polls.js
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/backend/tests.sh
  docker-compose.yml
Labels: backend
