Repository PollBuddy/PollBuddy, pull requests merged in 2020-11, with the labels that each got.

#303 Adding wiki links
  PollBuddy-Server/frontend/src/pages/FAQ/faq.md
  README.md
Labels: documentation

#292 Settings and account
  PollBuddy-Server/frontend/src/App.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/AdminSettings/AdminSettings.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
  PollBuddy-Server/frontend/src/pages/MemberSettings/MemberSettings.js
  PollBuddy-Server/frontend/src/styles/main.scss
Labels: frontend, hacktoberfest-accepted

#294 Header dropdown menu
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.js
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.scss
  PollBuddy-Server/frontend/src/components/Header/Header.js
  PollBuddy-Server/frontend/src/components/Header/Header.scss
Labels: frontend

#304 Login
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
Labels: frontend

#305 Docker development mode
  PollBuddy-Server/backend/Dockerfile
  PollBuddy-Server/backend/Dockerfile.dev
  PollBuddy-Server/frontend/Dockerfile
  PollBuddy-Server/frontend/Dockerfile.dev
  docker-compose.dev.yml
Labels: backend, frontend

#310 Homepage register fix
  PollBuddy-Server/frontend/src/pages/Homepage/Homepage.js
Labels: bug, frontend

#325 Commented all routes in App.js
  PollBuddy-Server/frontend/src/App.js
Labels: frontend

#332 Footer update
  PollBuddy-Server/frontend/src/components/Footer/Footer.js
  PollBuddy-Server/frontend/src/components/Footer/Footer.scss
  PollBuddy-Server/frontend/src/styles/main.scss
Labels: frontend

#381 Question update
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
  PollBuddy-Server/frontend/src/components/Question/Question.js
  PollBuddy-Server/frontend/src/components/Question/Question.scss
  PollBuddy-Server/frontend/src/pages/PollViewer/PollViewer.js
  PollBuddy-Server/frontend/src/pages/Template/Template.js
Labels: frontend

#321 Update Groups.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
Labels: frontend

#328 moved questionEditor to the current branch.
  PollBuddy-Server/frontend/src/components/questionEditor/questionEditor.js
  PollBuddy-Server/frontend/src/components/questionEditor/questionEditor.scss
Labels: frontend

#380 Backend route trailing slash fix
  PollBuddy-Server/backend/routes/groups.js
  PollBuddy-Server/backend/routes/polls.js
  PollBuddy-Server/backend/routes/users.js
Labels: backend

#327 Update AccountInfo.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
Labels: frontend

#383 Finished contribution guide
  README.md
Labels: documentation

#384 linked contribution guide wiki in contribution.md
  CONTRIBUTING.md
Labels: documentation

#333 Leave group functionality
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
  PollBuddy-Server/frontend/src/styles/main.scss
Labels: frontend

#326 Update RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
Labels: frontend

#350 use express-session to store logged in state
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
  PollBuddy-Server/frontend/src/pages/Homepage/Homepage.js
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
Labels: backend

#317 Added /api/schools request
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/modules/cas.js
  PollBuddy-Server/backend/modules/rpi.js
  PollBuddy-Server/backend/modules/schoolList.js
  PollBuddy-Server/backend/routes/users.js
Labels: backend
