Repository PollBuddy/PollBuddy, pull requests merged in 2020-10, with the labels that each got.

#272 Issue 262
  PollBuddy-Server/frontend/src/pages/Homepage/Homepage.js
Labels: frontend

#286 Split CI into CI-Commit and CI-PullRequest, modified to work with PRs
  .github/workflows/CI-Commit.yml
  .github/workflows/CI-PullRequest.yml
Labels: backend

#287 Fix styling issues in login with school page
  PollBuddy-Server/frontend/src/components/SchoolPicker/SchoolPicker.js
  PollBuddy-Server/frontend/src/pages/LoginWithSchool/LoginWithSchool.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchool/RegisterWithSchool.js
Labels: frontend

#291 Issue 267
  PollBuddy-Server/backend/.eslintrc.json
  PollBuddy-Server/backend/modules/mongoConnection.js
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/frontend/.eslintrc.json
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.scss
Labels: backend, frontend
