Repository PollBuddy/PollBuddy, pull requests merged in 2020-09, with the labels that each got.

#239 CI-CD Setup
  .github/workflows/CD.yml
  .github/workflows/CI.yml
Labels: backend

#238 Docker changes: removed excess exposed ports, added restart policies
  PollBuddy-Server/reporting/grafana/config.ini
  PollBuddy-Server/webproxy/conf.d/default.conf
  docker-compose.yml
Labels: backend, frontend

#252 Update all backend packages
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
Labels: backend

#253 Updated Create-React-App, other semantic versioned packages
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
Labels: frontend

#236 answerRecorded and questionEnded pages
  PollBuddy-Server/frontend/src/App.js
  PollBuddy-Server/frontend/src/pages/PollViewer/PollViewer.js
  PollBuddy-Server/frontend/src/pages/answerRecorded/answerRecorded.js
  PollBuddy-Server/frontend/src/pages/questionEnded/questionEnded.js
Labels: frontend
