Repository PollBuddy/PollBuddy, pull requests merged in 2021-07, with the labels that each got.

#491 ResetPassword now reads resetcode from URL
  PollBuddy-Server/frontend/src/pages/ResetPassword/ResetPassword.js
Labels: frontend

#493 Wrote a backend Readme
  PollBuddy-Server/backend/README.md
Labels: backend, documentation

#494 Documentation: [users: /:id/edit]
  PollBuddy-Server/backend/routes/users.js
Labels: backend, documentation

#497 Updated README wiki links
  README.md
Labels: documentation

#498 Wrote backend documentation for /api/polls/:id/results
  PollBuddy-Server/backend/routes/polls.js
Labels: backend, documentation

#499 Automated eMail system
  PollBuddy-Server/backend/.env.example
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/modules/email.js
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
Labels: backend

#504 Add proper documentation notes in the PR template
  .github/pull_request_template.md
Labels: documentation

#501 Wrote backend documentation for GET /api/polls/:id/view
  PollBuddy-Server/backend/routes/polls.js
Labels: backend, documentation

#502 Reset password frontend
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/ResetPassword/ResetPassword.js
  PollBuddy-Server/frontend/src/pages/ResetPassword/ResetPassword.scss
Labels: frontend

#500 Added Dynamic Header Dropdown Menu
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.js
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.scss
Labels: frontend
