Repository PollBuddy/PollBuddy, pull requests merged in 2021-04, with the labels that each got.

#436 Polls rework
  PollBuddy-Server/backend/modules/utils.js
  PollBuddy-Server/backend/routes/polls.js
Labels: backend

#445 Changes to README and techList
  PollBuddy-Server/README.md
  PollBuddy-Server/backend/techList.md
  PollBuddy-Server/frontend/README.md
  PollBuddy-Server/frontend/techList.md
  README.md
Labels: documentation

#443 Async bcrypt
  PollBuddy-Server/backend/routes/users.js
Labels: backend

#444 Login Attempt Tracker
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.scss
Labels: frontend

#446 Backend permissions
  PollBuddy-Server/backend/routes/groups.js
  PollBuddy-Server/backend/routes/polls.js
Labels: backend

#448 Users documentation fixes
  PollBuddy-Server/backend/routes/users.js
Labels: backend, documentation

#450 Polls rework2
  PollBuddy-Server/backend/.eslintrc.json
  PollBuddy-Server/backend/modules/utils.js
  PollBuddy-Server/backend/routes/polls.js
Labels: backend

#452 Enpoint work
  PollBuddy-Server/backend/routes/groups.js
Labels: backend

#453 Json tosend
  PollBuddy-Server/README.md
  PollBuddy-Server/backend/routes/groups.js
  PollBuddy-Server/backend/routes/polls.js
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/backend/techList.md
  PollBuddy-Server/frontend/README.md
  PollBuddy-Server/frontend/techList.md
  README.md
Labels: backend

#456 Poll editor page
  PollBuddy-Server/frontend/src/pages/PollEditor/PollEditor.js
  PollBuddy-Server/frontend/src/pages/PollEditor/PollEditor.scss
Labels: frontend

#455 Login system frontend
  PollBuddy-Server/frontend/src/components/ErrorText/ErrorText.js
  PollBuddy-Server/frontend/src/components/ErrorText/ErrorText.scss
  PollBuddy-Server/frontend/src/pages/LoginWithSchoolStep2/LoginWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchoolStep2/RegisterWithSchoolStep2.js
Labels: frontend

#454 Added user-sessions documentation to users.js
  .gitignore
  PollBuddy-Server/backend/routes/users.js
Labels: backend
