Repository PollBuddy/PollBuddy, pull requests merged in 2021-06, with the labels that each got.

#486 Backend users/:id/edit Documentation
  PollBuddy-Server/backend/routes/users.js
Labels: backend, documentation

#487 Node package updates
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
  PollBuddy-Server/frontend/src/pages/About/About.js
  PollBuddy-Server/frontend/src/pages/About/About.md
  PollBuddy-Server/frontend/src/pages/FAQ/FAQ.js
  PollBuddy-Server/frontend/src/pages/Privacy/Privacy.js
  PollBuddy-Server/frontend/src/pages/Privacy/Privacy.md
Labels: backend, frontend

#490 Versioned every Docker image
  PollBuddy-Server/backend/Dockerfile
  PollBuddy-Server/backend/Dockerfile.dev
  PollBuddy-Server/backend/Dockerfile.lint
  PollBuddy-Server/reporting/grafana/Dockerfile
  PollBuddy-Server/reporting/influxdb/Dockerfile
  docker-compose.dev.yml
  docker-compose.yml
Labels: backend, frontend

#495 added brief README for frontend
  PollBuddy-Server/frontend/README.md
Labels: documentation, frontend
