Repository PollBuddy/PollBuddy, pull requests merged in 2021-10, with the labels that each got.

#518 Added status(200) to res.send
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/routes/polls.js
Labels: hacktoberfest-accepted

#511 Popup UI
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
  PollBuddy-Server/frontend/src/App.js
  PollBuddy-Server/frontend/src/components/Popup2/Popup2.js
  PollBuddy-Server/frontend/src/components/Popup2/Popup2.scss
  PollBuddy-Server/frontend/src/components/Settings/Settings.js
  PollBuddy-Server/frontend/src/components/Settings/Settings.scss
Labels: frontend, hacktoberfest-accepted

#538 Documented Routes
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/routes/groups.js
  PollBuddy-Server/backend/routes/polls.js
  PollBuddy-Server/backend/routes/users.js
Labels: backend, hacktoberfest-accepted

#536 Contact us
  PollBuddy-Server/backend/models/User.js
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/frontend/src/pages/Contact/Contact.js
  PollBuddy-Server/frontend/src/pages/LoginWithSchoolStep2/LoginWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchoolStep2/RegisterWithSchoolStep2.js
Labels: bug, frontend, backend, hacktoberfest-accepted
