Repository PollBuddy/PollBuddy, pull requests merged in 2021-03, with the labels that each got.

#422 Fixed leaving groups functionality
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.scss
Labels: frontend

#425 Request Body and ID validation
  PollBuddy-Server/backend/.eslintrc.json
  PollBuddy-Server/backend/modules/utils.js
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
  PollBuddy-Server/backend/routes/polls.js
Labels: backend

#431 readonly inputs
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/styles/main.scss
Labels: frontend

#430 Account info page
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.scss
Labels: frontend

#434 Tech readme
  PollBuddy-Server/backend/techList.md
  PollBuddy-Server/frontend/techList.md
  README.md
Labels: backend, documentation, frontend

#437 Settings component
  PollBuddy-Server/frontend/src/components/Settings/Settings.js
  PollBuddy-Server/frontend/src/pages/GroupPolls/GroupPolls.js
Labels: frontend
