Repository PollBuddy/PollBuddy, pull requests merged in 2021-11, with the labels that each got.

#539 defined default environment based on .env.example
  PollBuddy-Server/backend/.env.example
  PollBuddy-Server/backend/Dockerfile
  PollBuddy-Server/backend/Dockerfile.dev
  PollBuddy-Server/backend/Dockerfile.lint
  PollBuddy-Server/frontend/.env.example
  PollBuddy-Server/frontend/Dockerfile
  PollBuddy-Server/frontend/Dockerfile.dev
  PollBuddy-Server/frontend/Dockerfile.lint
  docker-compose.dev.yml
Labels: backend, hacktoberfest-accepted

#543 Updated loading wheel animation
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
  PollBuddy-Server/frontend/src/components/LoadingWheel/LoadingWheel.js
  PollBuddy-Server/frontend/src/components/LoadingWheel/LoadingWheel.scss
  PollBuddy-Server/frontend/src/pages/About/About.test.js
Labels: bug, frontend, hacktoberfest-accepted

#544 Implement Docker Health Check
  PollBuddy-Server/backend/Dockerfile
  PollBuddy-Server/frontend/Dockerfile
Labels: backend, hacktoberfest-accepted

#552 Add current year to copyright
  PollBuddy-Server/frontend/src/components/Footer/Footer.js
Labels: frontend, hacktoberfest-accepted

#554 Loading message while React initializes
  PollBuddy-Server/frontend/public/index.html
Labels: frontend

#557 Fix/about page typo/jamesbalcombe83
  PollBuddy-Server/frontend/src/pages/About/About.md
Labels: bug, frontend

#561 frontend fix: updated the school login and register messages as per i…
  PollBuddy-Server/frontend/src/pages/LoginWithSchool/LoginWithSchool.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchool/RegisterWithSchool.js
Labels: frontend

#542 doumented then relocted user_middleware defined in user.js
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/modules/utils.js
  PollBuddy-Server/backend/routes/users.js
Labels: backend, hacktoberfest-accepted

#585 Readme updates
  PollBuddy-Server/backend/models/README.md
  PollBuddy-Server/backend/modules/Readme.md
  PollBuddy-Server/backend/routes/README.md
  PollBuddy-Server/frontend/src/Utils/README.md
  PollBuddy-Server/frontend/src/components/README.md
  PollBuddy-Server/frontend/src/pages/README.md
Labels: documentation
