Repository PollBuddy/PollBuddy, pull requests merged in 2022-02, with the labels that each got.

#622 login-register buttons
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/backend/routes/users.test.js
  PollBuddy-Server/frontend/src/pages/Homepage/Homepage.js
Labels: frontend

#623 Package updates
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
  PollBuddy-Server/frontend/.eslintrc.json
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
  PollBuddy-Server/frontend/src/App.js
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.js
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.scss
  PollBuddy-Server/frontend/src/components/GroupEditor/GroupEditor.js
  PollBuddy-Server/frontend/src/components/LoadingWheel/LoadingWheel.js
  PollBuddy-Server/frontend/src/components/PropsWrapper/PropsWrapper.js
  PollBuddy-Server/frontend/src/components/Question/Question.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/AnswerRecorded/AnswerRecorded.js
  PollBuddy-Server/frontend/src/pages/GroupEdit/GroupEdit.js
  PollBuddy-Server/frontend/src/pages/GroupJoin/GroupJoin.js
  PollBuddy-Server/frontend/src/pages/GroupPolls/GroupPolls.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/LoginWithSchoolStep2/LoginWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/PollEditor/PollEditor.js
  PollBuddy-Server/frontend/src/pages/PollHistory/PollHistory.js
  PollBuddy-Server/frontend/src/pages/PollManager/PollManager.js
  PollBuddy-Server/frontend/src/pages/PollResults/PollResults.js
  PollBuddy-Server/frontend/src/pages/PollViewer/PollViewer.js
  PollBuddy-Server/frontend/src/pages/RegisterDefault/RegisterDefault.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchoolStep2/RegisterWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/ResetPassword/ResetPassword.js
  PollBuddy-Server/frontend/src/styles/main.scss
  PollBuddy-Server/webproxy/conf.d/default.conf
  docker-compose.dev.yml
Labels: frontend, backend

#624 Update polls.js
  PollBuddy-Server/backend/routes/polls.js
Labels: backend

#630 NotFound Showing
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
  PollBuddy-Server/frontend/.eslintrc.json
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
  PollBuddy-Server/frontend/src/App.js
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.js
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.scss
  PollBuddy-Server/frontend/src/components/GroupEditor/GroupEditor.js
  PollBuddy-Server/frontend/src/components/LoadingWheel/LoadingWheel.js
  PollBuddy-Server/frontend/src/components/PropsWrapper/PropsWrapper.js
  PollBuddy-Server/frontend/src/components/Question/Question.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/AnswerRecorded/AnswerRecorded.js
  PollBuddy-Server/frontend/src/pages/GroupEdit/GroupEdit.js
  PollBuddy-Server/frontend/src/pages/GroupJoin/GroupJoin.js
  PollBuddy-Server/frontend/src/pages/GroupPolls/GroupPolls.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/LoginWithSchoolStep2/LoginWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/PollEditor/PollEditor.js
  PollBuddy-Server/frontend/src/pages/PollHistory/PollHistory.js
  PollBuddy-Server/frontend/src/pages/PollManager/PollManager.js
  PollBuddy-Server/frontend/src/pages/PollResults/PollResults.js
  PollBuddy-Server/frontend/src/pages/PollViewer/PollViewer.js
  PollBuddy-Server/frontend/src/pages/RegisterDefault/RegisterDefault.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchoolStep2/RegisterWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/ResetPassword/ResetPassword.js
  PollBuddy-Server/frontend/src/styles/main.scss
  PollBuddy-Server/webproxy/conf.d/default.conf
  docker-compose.dev.yml
Labels: bug, frontend

#627 Account info Page
  PollBuddy-Server/backend/models/User.js
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/backend/routes/users.test.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/PollViewer/PollViewer.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchoolStep2/RegisterWithSchoolStep2.js
Labels: bug, frontend, backend
