Repository PollBuddy/PollBuddy, pull requests merged in 2022-03, with the labels that each got.

#609 Backend Lint Updates
  PollBuddy-Server/backend/.eslintrc.json
  PollBuddy-Server/backend/app.js
  PollBuddy-Server/backend/models/Group.js
  PollBuddy-Server/backend/models/User.js
  PollBuddy-Server/backend/modules/email.js
  PollBuddy-Server/backend/modules/mongoConnection.js
  PollBuddy-Server/backend/modules/utils.js
  PollBuddy-Server/backend/routes/groups.js
  PollBuddy-Server/backend/routes/polls.js
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/backend/routes/users.test.js
  PollBuddy-Server/frontend/.eslintrc.json
Labels: backend

#631 fix(backend): format 404 error as a JSON response.
  PollBuddy-Server/backend/app.js
Labels: bug, backend

#641 Small backend lint change from a long time ago to fix a switch case indention issue
  PollBuddy-Server/backend/.eslintrc.json
Labels: backend

#637 React hotreload fix and package updates
  PollBuddy-Server/backend/package-lock.json
  PollBuddy-Server/backend/package.json
  PollBuddy-Server/frontend/Dockerfile.dev
  PollBuddy-Server/frontend/hotreload-fix.js
  PollBuddy-Server/frontend/package-lock.json
  PollBuddy-Server/frontend/package.json
Labels: bug, frontend, backend

#640 Redirect to Login and Back
  PollBuddy-Server/frontend/src/App.js
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.js
  PollBuddy-Server/frontend/src/components/PrivateComponent/PrivateComponent.js
  PollBuddy-Server/frontend/src/components/PropsWrapper/PropsWrapper.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/GroupJoin/GroupJoin.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
  PollBuddy-Server/frontend/src/pages/LoginDefault/LoginDefault.js
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/LoginWithSchoolStep2/LoginWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchoolStep2/RegisterWithSchoolStep2.js
Labels: frontend

#636 Group leaving backend call implemented
  PollBuddy-Server/backend/routes/groups.js
Labels: backend

#648 Deleted duplicate dashboard, updated existing dashboard
  PollBuddy-Server/reporting/grafana/Dockerfile
  PollBuddy-Server/reporting/grafana/config.ini
  PollBuddy-Server/reporting/grafana/dashboards/PollBuddy.json
  PollBuddy-Server/reporting/grafana/dashboards/PollBuddy_EX.json
  PollBuddy-Server/reporting/grafana/dashboards/home.json
  PollBuddy-Server/reporting/grafana/provisioning/datasources/all.yml
Labels: bug, backend
