Repository PollBuddy/PollBuddy, pull requests merged in 2022-04, with the labels that each got.

#670 Poll results tests
  PollBuddy-Server/backend/routes/polls.test.js
  PollBuddy-Server/backend/routes/users.test.js
Labels: backend

#684 Resized buttons
  PollBuddy-Server/frontend/src/components/GroupSettings/GroupSettings.js
  PollBuddy-Server/frontend/src/pages/Groups/Groups.js
Labels: frontend

#683 Delete Poll button more descriptive
  PollBuddy-Server/frontend/src/pages/PollEditor/PollEditor.js
  PollBuddy-Server/frontend/src/pages/PollResults/PollResults.js
Labels: frontend

#680 Reset password routes
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/frontend/src/pages/ForgotPassword/ForgotPassword.js
  PollBuddy-Server/frontend/src/pages/ResetPassword/ResetPassword.js
Labels: backend

#679 Editquestions route tests
  PollBuddy-Server/backend/models/Poll.js
  PollBuddy-Server/backend/modules/testingUtils.js
  PollBuddy-Server/backend/routes/polls.test.js
Labels: backend

#677 Improved error reporting on new poll creation
  PollBuddy-Server/frontend/src/pages/PollCreation/PollCreation.js
Labels: bug, frontend

#638 Backend adding user tests
  PollBuddy-Server/backend/Dockerfile.test
  PollBuddy-Server/backend/jest-mongodb-config.js
  PollBuddy-Server/backend/modules/testingUtils.js
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/backend/routes/users.test.js
Labels: backend, testing

#687 Register w school loading wheel
  PollBuddy-Server/frontend/src/components/Dropdown/Dropdown.js
  PollBuddy-Server/frontend/src/components/Question/Question.js
  PollBuddy-Server/frontend/src/components/SchoolPicker/SchoolPicker.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/LoginWithSchool/LoginWithSchool.js
  PollBuddy-Server/frontend/src/pages/PollResults/PollResults.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchool/RegisterWithSchool.js
Labels: bug, frontend

#669 Total Responses Display
  PollBuddy-Server/backend/models/Poll.js
  PollBuddy-Server/frontend/src/components/QuestionResults/QuestionResults.js
Labels: frontend, backend
