Repository PollBuddy/PollBuddy, pull requests merged in 2022-01, with the labels that each got.

#610 Backing Testing Fixes
  PollBuddy-Server/backend/routes/users.js
  PollBuddy-Server/backend/routes/users.test.js
Labels: backend

#540 Fixed redirect tos
  PollBuddy-Server/frontend/src/App.js
  PollBuddy-Server/frontend/src/components/GroupEditor/GroupEditor.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/AnswerRecorded/AnswerRecorded.js
  PollBuddy-Server/frontend/src/pages/LoginWithPollBuddy/LoginWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/LoginWithSchoolStep2/LoginWithSchoolStep2.js
  PollBuddy-Server/frontend/src/pages/RegisterWithSchoolStep2/RegisterWithSchoolStep2.js
Labels: hacktoberfest-accepted

#613 Creates a log out everywhere checkbox & closes issue 481
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.js
  PollBuddy-Server/frontend/src/pages/AccountInfo/AccountInfo.scss
Labels: frontend

#579 Added button to show password
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.js
  PollBuddy-Server/frontend/src/pages/RegisterWithPollBuddy/RegisterWithPollBuddy.scss
  PollBuddy-Server/frontend/src/styles/main.scss
  package-lock.json
Labels: frontend
